*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* main{
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-bottom: 100px;
    
} */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
}

/* Header */
header{
   
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

header button {
    margin: 0 10px;
}

.search {
    border: 1px solid #0b4ca1;
    border-radius: 50px;
    padding: 0 10px;
}

.search span{
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.search i {
    color: white;
}

#shoppingBtn{
    position: absolute;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    top: 15px;
    right: 10px;
}

#shoppingBtn i {
    font-size: 30px;
}

.total-qty {
    position: absolute;
    right: 20px;
    top: 0;
    color: black;
    font-size: 15px;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
    background: white;
    padding: 0px 2px;
    font-weight: bold;
}

header i {
    font-size: 24px;
    
}

/* Container */
#card{
    background-color: #010101;
    border-radius: 20px;
    transition: all 0.5s;
}
#cardMain{
    padding-top: 100px;
}

#card:hover{
    transform: scale(1.05);
}

.card-top{
    padding: 10px 20px;
}

.card-top p{
    font-size: 14px;
    color: #90d84b;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
}
.card-top i{
    font-size: 26px;
    line-height: 30px;
}
#cardImg{
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.card-img{
    margin: 20px 0px;
}

#cardName{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    
}

.card-bottom{
    padding: 10px 20px;
    background-color: #2e2f33;
    border-radius: 20px;
    color: white;
}

.cardInfo{
    font-size: 14px;
    font-weight: 500;
}

#price{
    font-weight: 500;
    color:#e73c7e;
    font-size: 18px;
}
#btnAddCard{
    outline: none;
    border: 1px solid white;
    background-color: #e73c7e;
    padding: 4px 10px;
    color: white;
    border-radius: 50px;
    transition: all 0.5s;
}
#btnAddCard:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(0.9);
}

.admin-main {
    width: 90%;
}

.spanNoti{
    color: red;
    margin-left: 2px; 
    display: none;
}

/* Cart */
.cart {
    transform: translateX(1000px);
    padding-top: 10px;
    z-index: 5;
    position: absolute;
    right: -25px;
    top: 0;
    text-align: center;
    background-color: black;
    width: 50%;
    height: 100vh;
}

.cart-top h2{
    text-align: center;
    color: white;
}

#closeCart {
    position: absolute;
    top: 0;
    right: 0;
}

#closeCart i {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.6rem;
    border: none;
}

.cardList {
    width: 100%;
}

.cart-bottom {
    text-align: right;
    margin: 20px;
}

.total{
    font-size: 20px;
    margin: 20px;
    color: white;
}

.action-button {
    margin: 20px 0px;
}

.action-button .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid white;
    margin-right: 20px;
    border-radius: 10px;
}

.action-button .btn span {
    color: white;
}

/* Purchase */
.shipping-item {
    list-style: none;
}

.shipping-item li.item {
    display: flex;
    justify-content: space-between;
}

hr {
    color: white;
}

.total-payment {
    display: flex;
    justify-content: space-between;
}

.purchase-button {
    padding-top: 30rem;
}

.purchase-button .btn {
    color: white;
    margin-right: 3rem;
    padding: 10px 20px;
}

li.item {
    display: flex;
    justify-content: space-between;
}

/* Order */
.order {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 10px;
   left: 0;
    background: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 9999999;
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translateY(-1000px);
    transition: all 1s;
    user-select: none;
}

.order-content {
    width: 500px;
    height: 350px;
    background-color: black;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.order-content p {
    margin: 0.8rem 2rem;
    color: white;
}

#btnOK {
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
}


.card-list-img{
    width: 3rem;
    height: 3rem;
}

.cardList{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
   border-bottom: 1px solid whitesmoke;
}

.btn-number{
    display: flex;
    align-items: center;
}
.card-list-name , .card-list-price{
    margin-bottom: 0px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.quanlity-number{
    color: white;
}

.btn-plus ,.btn-minimus{
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border:1px solid white;
}

.btn-plus i , .btn-minimus i{
    font-size: 20px;
    padding: 8px;
}

.Img-noProduct{
    object-fit: cover;
    height: 100%;
}

.empty-cart{
    height: 200px;
    
}

.modal {
    z-index: 99999;
}

.cartOverplay{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    bottom: 0;
    display: none;
}

.shipping-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0px 20px;
    padding-bottom: 32px;
}